<?xml version="1.0" encoding="UTF-8" ?>

<phpunit bootstrap="./vendor/autoload.php">
  <filter>
    <whitelist addUncoveredFilesFromWhitelist="true">
      <directory suffix=".php">server</directory>
    </whitelist>
    <exclude>
      <directory suffix=".php">vendor</directory>
    </exclude>
  </filter>
</phpunit>
